Pair Problem  

You are given a CSV file with two columns: UserID and MovieID. Each row lists a user and a movie they liked.

1. Write a function that will take a MovieID and will return three movies that are similar to it (based on the similiarities in user likes).

2. Write a function that will take a UserID and recommend three movies based on what they have liked.

This an open-ended problem. Come up with a simple metric and just code it up. Come see me if you have any Qs!

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('user_movie_likes.csv')

In [4]:
df.head()

   412  512
0  458  770
1  185   37
2  137  701
3  190  870
4  299  324

In [6]:
df = df.rename(columns = {'412': 'UserID', 
                          '512': 'MovieID'})

In [11]:
df.MovieID.unique().shape

(686,)

In [12]:
df.UserID.unique().shape

(365,)

In [ ]:
# Create dictionaries for 
#    User: Movies
#    Movie: Users